/* base ******************************************************************** */
html body {
    background-image: url('../images/background_clzf.jpg');
    background-repeat: repeat;
    font-family: Verdana,Lucida,sans-serif;
}

header {
    margin-top: 0;
}

header #head,
header .container,
header #head .row,
header .container .row,
header #head .row #header_back,
header .container .row #header_back {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

header #head  {
    border: 1px solid #ccc;
    border-width: 0 1px 0 1px;
}
div#page {
    border: 1px solid #ccc;
    border-width: 0 1px 0 1px;
    padding-right: 30px;
}

header .container .row #header_back #header_ratio {
  width: unset;
}

header .container .row #header_back {
  background-image: unset;
}

#project_title {
    margin-bottom: 4px;
}
#project_slogan {
    margin-top: 0;
}
#project_title,
#project_slogan {
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
    padding-left: 65px;
}
#project_title a,
#project_slogan a{
    color: #808080;
}

#project_title a:hover,
#project_slogan a:hover {
    color: #808080;
    text-decoration: none;
}

#side_nav_column .mir-side-nav nav .navbar-nav {
    margin-left: 45px;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li > a {
    color: #008c4f;
        color: #888;
    background-color: transparent;
    font-size: 18px;
    border: 0px solid #008c4f;
    border-width: 0px 0px 0px 0;
    border-color: #008c4f;
    border-radius: 0px;
    padding: 6px 20px;
    background-color: #f5f5f5;
        background-color: transparent;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li.active > a {
    color: #008c4f;
        color: #888;
    background-color: #f5f5f5;
        background-color: transparent;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li > a:hover,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active > a:hover,
#side_nav_column .mir-side-nav nav .navbar-nav > li > a:focus,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active > a:focus {
    color: #008c4f;
        color: #888;
    background-color: #f5f5f5;
        background-color: transparent;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li .dropdown-menu > li > a:hover,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active .dropdown-menu > li > a:hover,
#side_nav_column .mir-side-nav nav .navbar-nav > li .dropdown-menu > li > a:focus,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active .dropdown-menu > li > a:focus {
    color: #8c1c00;
    background-color: #f5f5f5;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li .dropdown-menu,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active .dropdown-menu {
    border-width: 0 0px 0px 0;
    margin: 0 5px -5px 0 !important;
    border-radius: 0 !important;
    border-bottom-right-radius: 0px !important;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li .dropdown-menu > li.active > a,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active .dropdown-menu > li.active > a {
    border-left: 2px solid transparent;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li > a,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active > a {
    border: 1px solid #008c4f;
    border-width: 0px 0px 0px 0;
    border-color: #008c4f;
    border-radius: 0px;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li .dropdown-menu > li > a,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active .dropdown-menu > li > a {
    padding: 3px 5px 3px 10px;
    padding: 3px 20px 3px 30px;
}


footer .container #menu {
    background-color: #e6e6e6;
    background-image: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 1px;
}

footer .container #menu #sub_menu li a {
    color: #008c4f;
    font-size: 10px;
}
footer .container #menu #sub_menu li::before {
    color: #666;
    content: ' ∙ ';
    padding: 0 3px;
    font-size: 10px;
}
footer .container #menu #copyright {
    color: #666;
    font-size: 10px;
}

.container {
    width: 1280px;
}

#side_nav_column .mir-side-nav nav .navbar-nav > li > a,
#side_nav_column .mir-side-nav nav .navbar-nav > li.active > a {
    padding: 18px 0 0 20px;
}


#side_nav_column .mir-side-nav nav .navbar-form {
    margin: 0 0 70px 65px;
}

#side_nav_column .mir-side-nav nav .navbar-form #searchInput {
    height: 27px;
}

#searchInput.form-control {
    padding: 4px 18px 4px 18px;
}
.breadcrumb {
    margin-bottom: 30px;
}

#main_content_column.col-sm-12 {
    padding-left: 65px;
}

.input-group > .input-group-addon {
    border-width: 1px 1px 1px 0;
    top: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn-group .btn {
    padding: 10px 12px;
}

#side_nav_column .mir-side-nav nav .navbar-nav #basket-list-item {
  margin-top: 20px;
  margin-bottom: 40px;
}

#side_nav_column .mir-side-nav nav .navbar-nav #basket-list-item +li a{
  font-size: 80%;
}

#side_nav_column .mir-side-nav nav .navbar-nav #basket-list-item +li a.dropdown-toggle{
  font-size: 130%;
}

.panel-body .form-control, #dynamic_editor .form-control, #editor-admin-form .form-control, #complexSearch .form-control, #complexSearch .input-group-addon , .input-group > .input-group-addon{
  padding: 6px 8px;
  height: 31px;
  font-size: 12px;
}

.panel-body .btn, #dynamic_editor .btn, #editor-admin-form .btn, #complexSearch .btn {
  padding: 6px 8px;
  font-size: 12px;
  margin-top: 0px;
}

ul {
  list-style-type: square;
}

.mycoreViewer .navbar.navbar-default .btn {
    margin-right: 5px;
}
.viewer .btn {
    padding: 6px 10px;
}

#clausthal_cc0 {
  float: left;
  margin: 7px 20px 10px 0;
  padding: 0;
  vertical-align: bottom;
}

legend {
  border-bottom: 0px;
}