$gray-darker:        #b6b6b6;
$brand-primary:      #008c4f;
$brand-warning:      #FF9900;

$font-family-sans-serif:    Verdana,Lucida,sans-serif;
$font-family-serif:         Georgia,"New Century Schoolbook",Times,"Times New Roman",serif;
$headings-font-family:      $font-family-serif;
$font-size-base:            12px;

